[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch"

[packages]
langchain = "==0.0.205"
fastapi = "~=0.97.0"
uvicorn = "~=0.22.0"
llama-cpp-python = "==0.1.64"
sentence-transformers = "~=2.2.2"
torch = {version="*", index="pytorch"}
torchvision = {version="*", index="pytorch"}
sentencepiece = "*"
transformers = "*"

[dev-packages]
pipenv = "*"
pylint = "*"
pylint-gitlab = "*"
isort = "*"
pytest = "==7.3.1"
pytest-cov = "*"
pytest-mock = "*"
httpx = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
